.home-page {
    width:100%;
    height: calc(100% - 112px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:4rem;
}
.buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;

}
.backdrop-container {
    justify-self: end;
    position: absolute;
    bottom:7rem;
}