.instructions {
 display: flex;
   /*align-self: start;*/
   /*justify-self: end;*/
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    border-radius: 10px;
    border: 1px grey solid;
    padding:3rem;
   box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    overflow-y: scroll;
    background: rgba(182, 222, 239, 0.2);
}

h4 {
   margin:14px;
    /*color:transparent;*/
    color: rgba(0, 119, 168, 0.2);
    position:relative;
    overflow: hidden;
    font-size: calc(5px + 1vw);
    -webkit-text-stroke: 0.02vw #2f6ee3;
    z-index: 100;
}

.heading {
    color: rgba(182, 222, 239, 0.58);
    position: relative;
    font-size: calc(5px + 2vw);;
    -webkit-text-stroke: 0.05vw #2f6ee3;
}
.heading::before {
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    color: rgba(0, 248, 124, 0.37);
    -webkit-text-stroke: 0.0vw #2f6ee3;
    /*border-right: 2px solid #00f87c;*/
    overflow: hidden;
    animation: animate 6s ease-in-out infinite;
}

@keyframes animate {
    0%,10%,100% {
        width:0
    }
    70%,90% {
        width: 100%;
    }
}