.backdrop-content {
    position: absolute;
    width:100%;
    top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;



}
.message {
    border:whitesmoke 1px dotted;
    border-radius: 10px;
    padding:3rem 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:.5rem;
    white-space: nowrap;
}

/*.image-credits-div {*/
/*    width:100%;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/