.contact-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 4rem;


}

.contact-content {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}